<%- include ("partials/head.ejs"); %>
    <body>
        <%- include ("partials/header.ejs"); %>    
        <h1 class='alert'>!Nota final</h1>
        <div id='score'>
            <p id='finalScore'>Sua nota final foi: <span id='scoreStyle'><%= score %></span>
            </p>
            <br>          
            <span id='emoji'><%= emoji %></span> 
        </div>   
        <hr>
        <div class="container">
            <h2>Score geral:</h2>
            <% results.forEach(result =>{ %>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold;">Usuário: <%= result.user %> </li>
                    <li class="list-group-item">Nota: <%= result.score %> </li>
                    <li class="list-group-item">Data: <%= result.createdAt %> </li>
                  </ul>
                  <br>
          <%  }) %>
        </div>          
    </body>
</html>
